/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-bebas: "Bebas Neue", sans-serif; 
    --font-roboto: "Roboto", sans-serif; 
    --font-robotocond: "Roboto Condensed", sans-serif;
  }
